@model AADUsersViewModel

@{

    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="col-md-6 col-md-offset-3">
        @foreach (var user in Model.Users)
        {
            <li>@user.Username</li>
        }
    </div>
</div>